<div *ngFor="let event of events" [style.background-image]="'url(' + event.background + ')'" class="event-demo">
  <div *ngFor="let eventField of event.eventFieldViewModels"[style.font-size.px]="eventField.fontSize" [style.color]="eventField.fontColor"[style.font-family]="eventField.fontFamily"[style.margin-left.px]="eventField.leftPosition"[style.margin-top.px]="eventField.topPosition"[style.font-style]="eventField.fontStyle"[style.font-weight]="eventField.fontWeight"
       class="event-field-demo">{{ eventField.value }}</div>
</div>
