<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!events"><em>Loading...</em></p>

<table class='table table-striped' *ngIf="events">
  <thead>
  <tr>
    <th>Template name</th>
    <th>date</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Priority</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let event of events">
    <td>{{ event.templateName }}</td>
    <td>{{ event.date }}</td>
    <td>{{ event.startTime }}</td>
    <td>{{ event.endTime }}</td>
    <td>{{ event.priority }}</td>
  </tr>
  </tbody>
</table>
